@{
    ViewData["Title"] = "Poduct Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model WebDevelopment_BCU.Areas.Admin.Model.Vm.ProductData

<div class="card">
    <div class="card-action">
        Register Form
    </div>
    <div class="card-content">
        <form method="post" enctype="multipart/form-data" action="/Admin/Product/Index" class="col s12">
            <div class="row">

                <input id="Id" name="Id" value="0" hidden>


                <div class="input-field col s6">
                    <input id="Name" name="Name" type="text" class="validate">
                    <label for="Name">Name</label>
                    <span asp-validation-for="Model.FirstName" class="text-danger"></span>
                </div>
                <div class="input-field col s6">
                    <input id="Description" name="Description" type="text" class="validate">
                    <label for="Description">Description</label>
                    <span asp-validation-for="Model.FirstName" class="text-danger"></span>
                </div>
                <div class="input-field col s6">
                    <input id="Quantity" name="Quantity" type="text" class="validate">
                    <label for="Quantity">Quantity</label>
                    <span asp-validation-for="Model.FirstName" class="text-danger"></span>
                </div>
                <div class="input-field col s6">
                    <input id="file" name="files" multiple type="file" class="validate">
                </div>

                <div class="input-field col s6">
                    <select id="CategoryId" name="CategoryId" class="form-control">
                        @foreach (var item in Model.CategoryList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>

                <div class="input-field col s12">
                    <input id="Price" name="Price" type="text" class="validate">
                    <label for="Price">Price</label>
                    <span asp-validation-for="Model.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                @Html.ValidationMessage("CustomError", new { @class = "text-danger" })

                <button class="btn btn-success" type="submit">Register</button>
            </div>

        </form>
        <div class="clearBoth"></div>
    </div>
</div>

<div class="dashboard-cards">
    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="card">
                <div class="row">
                    <div class="card-content">
                        <form method="get" action="/Admin/Product/Index" class="col s6">
                            <div class="row">

                                <div class="input-field col s6">
                                    <input id="SearchKey" name="SearchKey" type="text" class="validate">
                                    <label for="SearchKey">Search</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="card-action">
                    Tables
                </div>
                <div class="card-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>InserDate</th>

                                </tr>
                            </thead>
                            <tbody id="tbl_body">
                                @foreach (var item in Model.ProductList.ListData)
                                {
                                    <tr class="gradeA">
                                        @if (item.ProductImages != null)
                                        {
                                            <td><img src="~/@item.ProductImages.FirstOrDefault().Src" class="responsive-img img-rounded" style="width:150px" /></td>

                                        }
                                        else
                                        {

                                            <td><img src="https://www.yiwubazaar.com/resources/assets/images/default-product.jpg" class="responsive-img img-rounded" style="width:150px" /></td>
                                        }
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@item.Price</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.InserDate</td>
                                        <td>
                                            <button class="btn btn-outline btn-primary fa fa-edit"
                                                id="@item.Id"
                                                itemName="@item.Name"
                                                itemDescription="@item.Description"
                                                itemPrice="@item.Price"
                                                itemQuantity="@item.Quantity"
                                                itemCategoryId="@item.CategoryId"
                                                onclick="edit_data(this)"></button>
                                            <button class="btn btn-outline btn-danger fa fa-trash-o" onclick="delete_data(@item.Id)"></button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        @if (Model.ProductList.ListData != null)
                        {
                            <form action="/Admin/Product/Index" method="get">
                                @for (int i = 0; i < Model.ProductList.NumberOfPage; i++)
                                {
                                    var j = i + 1;
                                    <input type="submit" class="btn btn-primary" name="Page" value="@j">
                                }
                            </form>
                        }
                    </div>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>

@section Script{
    <script>
        search_tbl("SearchKey", "tbl_body");

        function edit_data(item) {
            Id.value = item.id;
            Name.value = item.getAttribute('itemName');
            Description.value = item.getAttribute('itemDescription');
            Price.value = item.getAttribute('itemPrice');
            Quantity.value = item.getAttribute('itemQuantity');
            CategoryId.value = item.getAttribute('itemCategoryId');
        }

        function delete_data(id) {
            confirm_ajax("Are You Sure?", "By click ok data will be deleted permenantly !!", "warning", function() {
                b_ajax("/Admin/Product/Delete", "Delete", { id: id }, function(data) {
                    setTimeout(() => {
                        location.reload();
                    }, 2000)
                }, "Ok");
            })
        }
    </script>
}