@model WebDevelopment_BCU.Models.ViewData.HomeData

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Mohammad Moghadaszadeh Behbahani">

    <title>@ViewData["Title"]</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Client/Asset/Css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Client/Asset/Css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Client/Asset/Css/Custom.css" rel="stylesheet">
    <link href="~/Common/Css/Custom.css" rel="stylesheet" />
    @await RenderSectionAsync("Style", required: false)


</head>

<body>

    <nav class="navbar navbar-expand-lg bg-white shadow-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/Home/Index">
                Kitchen
            </a>

            <div class="d-lg-none">
                <a href="/UserBasket/Index" class="custom-btn btn btn-danger fa fa-shopping-cart"> Basket</a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Home/Index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Product/Index">Product</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Index">Category</a>
                    </li>



                    @{
                        if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Login/Index">Login</a>
                            </li>
                        }
                        else if(User.Claims.Any(p=>p.Value.Contains("Admin")))
                        {
                            <li>
                                <a href="~/Admin/Home/Index" class="nav-link">Profile</a>
                            </li>
                        }
                        else
                        {
                             <li>
                                <a href="~/UserProfile/Index" class="nav-link">Profile</a>
                            </li>
                        }
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="/News/Index">News</a>
                    </li>
                </ul>
            </div>

            <div class="d-none d-lg-block">
                <a href="/UserBasket/Index" class="custom-btn btn btn-danger fa fa-shopping-cart"> Basket</a>
            </div>

        </div>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer class="site-footer section-padding">

        <div class="container">

            <div class="row">

                <div class="col-12">
                    <h4 class="text-white mb-4 me-5">Crispy Kitchen</h4>
                </div>

                <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                    <h6 class="text-white mb-lg-4 mb-3">Location</h6>

                    <p>@Model.About.Location</p>
                </div>

                <div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
                    <h6 class="text-white mb-lg-4 mb-3">Opening Hours</h6>

                    <p class="mb-2">@Model.About.OpeningDay</p>

                    <p>@Model.About.OpeningHour</p>

                    <p>Tel: <a href="tel: @Model.About.Tel" class="tel-link">@Model.About.Tel</a></p>
                </div>

                <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                    <h6 class="text-white mb-lg-4 mb-3">Social</h6>

                    <ul class="social-icon">
                        <li><a href="@Model.About.FaceBookLink" class="social-icon-link bi-facebook"></a></li>

                        <li><a href="@Model.About.InstagramLink" class="social-icon-link bi-instagram"></a></li>

                        <li>
                            <a href="@Model.About.TwitterLink" target="_blank"
                               class="social-icon-link bi-twitter"></a>
                        </li>

                    </ul>

                    <p class="copyright-text tooplate-mt60">
                        Copyright © 2022
                    </p>

                </div>

            </div><!-- row ending -->

        </div><!-- container ending -->

    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="~/Client/Asset/Js/jquery.min.js"></script>
    <script src="~/Client/Asset/Js/bootstrap.bundle.min.js"></script>
    <script src="~/Client/Asset/Js/custom.js"></script>
    <script src="~/Common/js/library.js"></script>
    <script src="~/Common/js/sweetalert.min.js"></script>
    <script src="~/Common/js/Basket.js"></script>

    @await RenderSectionAsync("Script", required: false)
</body>
</html>
